[Unit]
Description=Claymore-zCash service
After=network.target

[Service]
<% @env_vars.each do |env_var| -%>
Environment=<%= env_var %>
<% end -%>
ExecStart=/usr/bin/screen -dmS claymore /opt/claymore-zcash/zecminer64 \
-zpool <%= @zpools.first %> \
-zwal <%= @zwallet %>.<%= @hostname %> \
-zpsw <%= @zpasswd %> \
-allpools <%= @allpools %> \
<% unless @target_temp.nil? %>-tt <%= @target_temp %><% end %> \
-wd <% if @enable_watchdog %>1<% else %>0<% end %>
ExecStop=/usr/bin/screen -S claymore -X quit
ExecReload=/usr/bin/screen -S claymore -X quit
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target